* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* responsive design */
/* TODO: make sure that this is designed to work on various screen sizes */
/* WIREFRAME PLANNING */

/* think where to put flex, where to put grid */

/* media queries */

/* accessibility - design principles */
body {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

h1 {
  background-color: pink;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10vh 0 10vh 0;
  margin: 3rem 3rem 0 3rem;
  border-radius: 10px;
  text-shadow: 15px 5px 7px rgb(225, 147, 160);
}

#feedbackForm {
  display: grid;
}

#guestNameDetails {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10vw;
  background-color: pink;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 5vh 0 5vh 0;
  margin: 0 3rem 0 3rem;
  border-radius: 10px;
  text-shadow: 15px 5px 7px rgb(225, 147, 160);
}
#guestComment {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10vw;
  background-color: pink;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 5vh 0 5vh 0;
  margin: 0 3rem 0 3rem;
  border-radius: 10px;
  text-shadow: 15px 5px 7px rgb(225, 147, 160);
}

#submitButtonSection {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 10vw;
  background-color: pink;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 0 5vw 5vh 0;
  margin: 0 3rem 0 3rem;
  border-radius: 10px;
  text-shadow: 15px 5px 7px rgb(225, 147, 160);
}

#postsContainer {
  display: flex;
  flex-direction: column-reverse;

  background-color: pink;
  color: rgb(255, 255, 255);

  padding: 0 5vw 5vh 0;
  margin: 0 3rem 0 3rem;
  border-radius: 10px;
}

.userEntry {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: rgb(251, 251, 251);
  color: pink;
  padding: 0 0 0 0;
  margin: 1rem;
}
