* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* responsive design */
/* TODO: make sure that this is designed to work on various screen sizes */
/* WIREFRAME PLANNING */

/* think where to put flex, where to put grid */

/* media queries */

/* accessibility - design principles */
