* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: default;
}

body {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

h1 {
  background-color: pink;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 8vh 0 8vh 0;
  margin: 3rem 3rem 0 3rem;
  border-radius: 10px;
  text-shadow: 15px 5px 7px rgb(225, 147, 160);
}

form {
  background-color: pink;
}

#guestNameDetails {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10vw;

  color: rgb(255, 255, 255);
  text-align: center;
  padding: 5vh 0 5vh 0;
  margin: 0 3rem 0 3rem;

  text-shadow: 15px 5px 7px rgb(225, 147, 160);
}

#guestNameDetails input {
  padding: 0 1vw 0 1vw;
  min-height: 5vh;
  border-radius: 3rem;
}

#guestComment {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10vw;

  color: rgb(255, 255, 255);
  text-align: center;
  padding: 5vh 0 5vh 0;
  margin: 0 3rem 0 3rem;

  text-shadow: 15px 5px 7px rgb(225, 147, 160);
}
#commentData input {
  padding: 0 1vw 0 1vw;
  min-height: 10vh;
  min-width: 40vw;
  border-radius: 3rem;
}

input:hover {
  animation-name: glow;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  box-shadow: inset 5px 5px 10px whitesmoke;
}

#submitButtonSection {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 10vw;

  color: rgb(255, 255, 255);
  text-align: center;
  padding: 0 15vw 5vh 0;
  margin: 0 3rem 0 3rem;

  text-shadow: 15px 5px 7px rgb(225, 147, 160);
}
#submitFeedback {
  min-width: 5rem;
  min-height: 3rem;
  background-color: whitesmoke;
  border: 5px ridge pink;
  border-radius: 10px;
}
#submitFeedback:hover {
  cursor: pointer;
  animation-name: glow;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  box-shadow: inset 5px 5px 10px whitesmoke;
}
@keyframes glow {
  0% {
    background-color: whitesmoke;
    border-color: pink;
  }
  25% {
    background-color: pink;
    border-color: whitesmoke;
  }
  50% {
    background-color: whitesmoke;
    border-color: pink;
  }
  75% {
    background-color: pink;
    border-color: whitesmoke;
  }
  100% {
    background-color: whitesmoke;
    border-color: pink;
  }
}
#submitFeedback:active {
  animation-name: shake;
  animation-duration: 30ms;
  animation-iteration-count: 2;
}
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
#postsContainer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;

  color: rgb(255, 255, 255);

  padding: 5vh 3vw 5vh 3vw;
  margin: 0 3rem 3rem 3rem;
  border-radius: 10px;

  font-size: 1rem;
  font-weight: bold;
  font-family: monospace;
}

.userEntry {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr 0.5fr;
  grid-template-rows: 1fr;
  text-align: center;

  align-items: center;
  background-color: whitesmoke;
  color: pink;
  padding: 0.5vw;
  margin: 1rem;
  gap: 2vw;
}

.userNameClass {
  grid-column-start: 1;
  grid-column-end: span 1;

  justify-self: left;
  text-decoration: underline;
  text-transform: capitalize;
}

.commentClass {
  text-wrap: unset;
}
.likesClass {
  justify-self: right;

  max-height: fit-content;
}

.userEntryDiv {
  grid-column-start: 4;
  grid-column-end: 5;
  position: relative;
  right: 0;
  display: flex;
  flex-direction: row;
  gap: 1vw;
  flex-wrap: nowrap;
}

.likeButton {
  background-color: whitesmoke;
  border: 5px ridge pink;
  border-radius: 10px;
}

.likeButton:hover {
  cursor: pointer;
  animation-name: glow;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  box-shadow: inset 1px 1px 10px whitesmoke;
}

.deleteButton {
  background-color: whitesmoke;
  border: 5px ridge pink;
  border-radius: 10px;
}

.deleteButton:hover {
  animation-name: shake;
  animation-duration: 30ms;
  animation-iteration-count: infinite;
  cursor: pointer;
  box-shadow: inset 5px 5px 10px whitesmoke;
}

@media (max-width: 700px) {
  #guestNameDetails {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .userEntryDiv {
    grid-column-start: 4;
    grid-column-end: 5;
    position: relative;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    flex-wrap: nowrap;
  }
}
